@using Codezeller.Models
@{
    codezellerEntities db = new codezellerEntities();
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Code Zeller</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>


    <!-- MENU -->
    @Html.Partial("nav")

    <!-- HOME -->
    <section id="home">
        <div class="row">
            <div class="owl-carousel owl-theme home-slider">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Lorem ipsum dolor sit amet.</h1>
                                <h3>Voluptas dignissimos esse, explicabo cum fugit eaque, perspiciatis quia ab nisi sapiente delectus eiet.</h3>
                                <a href="jobs.html" class="section-btn btn btn-default">Browse Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Distinctio explicabo vero animi culpa facere voluptatem.</h1>
                                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, excepturi.</h3>
                                <a href="jobs.html" class="section-btn btn btn-default">Browse Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Efficient Learning Methods</h1>
                                <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis sollicitudin ut at libero.</h3>
                                <a href="jobs.html" class="section-btn btn btn-default">Browse Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="text-center">
                            <h2>About us</h2>

                            <br>

                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore molestias ipsa veritatis nihil iusto maiores natus dolor, a reiciendis corporis obcaecati ex. Totam assumenda impedit aut eum, illum distinctio saepe explicabo. Consequuntur molestiae similique id quos, quasi quas perferendis laboriosam, fugit natus odit totam! Id dolores saepe, sint debitis rerum dolorem tempora aliquid, pariatur enim nisi. Quia ab iusto assumenda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>Featured Jobs <small>Lorem ipsum dolor sit amet.</small></h2>
                        </div>
                    </div>
                    @foreach (Languge item in ViewBag.langs)
                    {
                        <div class="col-md-4 col-sm-4">
                            <div class="courses-thumb courses-thumb-secondary">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="@item.icon" class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="job-details.html">@item.languge1</a></h3>

                                    <p class="lead"><strong>@item.tasks.Count()</strong></p>

                                    <p>waiting for <strong>you to solve</strong></p>
                                </div>

                                <div class="courses-info">
                                    <a href="/pages/tasks?id=@item.id" class="section-btn btn btn-primary btn-block">View Details</a>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>Latest Blog posts <small>Lorem ipsum dolor sit amet.</small></h2>
                        </div>
                    </div>

                    @foreach (Blog item in ViewBag.blogs)
                    {
                        <div class="col-md-4 col-sm-4">
                            <div class="courses-thumb courses-thumb-secondary">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        @if (item.image == null)
                                        {
                                            <img src="/img//other-1-720x480.jpg" class="img-responsive" alt="">
                                        }
                                        else
                                        {
                                            <img src="@item.image" class="img-responsive" alt="">
                                        }
                                    </div>
                                    <div class="courses-date">
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="/pages/blog?id=@item.id">@item.title</a></h3>
                                </div>

                                <div class="courses-info">
                                    <a href="/pages/blog?id=@item.id" class="section-btn btn btn-primary btn-block">Read More</a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </section>


        
    </main>

    <!-- FOOTER -->
    @Html.Partial("footer")

    <!-- SCRIPTS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/custom.js"></script>

</body>
</html>