@using Codezeller.Models
@{ 
    task task = ViewBag.task;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Code Zeller</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- MENU -->
    @Html.Partial("nav")

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div>
                        <br>
                        @if (task.image == null)
                        {
                            <img  src="/img/product-1-720x480.jpg" alt="" class="img-responsive wc-image">
                        }
                        else
                        {
                            <img src="@task.image" alt="" class="img-responsive wc-image">
                        }

                        <br>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-xs-12">
                    <form action="#" method="post" class="form">
                        <h2>Task #@task.id</h2>

                        @if (task.level == 0)
                        {
                            <p class="lead"><strong>Beginner</strong> <small> </small></p>
                        }
                        else if (task.level == 1)
                        {
                            <p class="lead"><strong>Intermediate</strong> <small> </small></p>
                        }
                        else
                        {
                            <p class="lead"><strong>Advanced</strong> <small> </small></p>
                        }

                        <p class="lead">
                        </p>


                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Task Description</h4>
                </div>

                <div class="panel-body">
                    <p>@task.content</p>
                   
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Compiler</h4>
                </div>

                <div class="panel-body">
                    @Html.Raw(task.Languge.compiler)
                </div>
            </div>

            <div class="clearfix">
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    @Html.Partial("footer")

    <!-- SCRIPTS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/custom.js"></script>

</body>
</html>